---
layout: archive
title: "Photography portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Alicia L. Bruzos has contributed to the media file repository making available public domain and freely licensed educational media content. 
<a href="https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/AliciaLBruzos&ilshowall=1" target="_blank">Check here her contributions!</a> <br/><br/>



Professional photographies for media or conference advertising (click on the title for full-size and more information):<br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-2.jpg" target="_blank">Photography of Alicia L. Bruzos (March 2022) version 2. </a> 
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-2" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-2.jpg' width="150"> <br/><br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-1.jpg" target="_blank">Photography of Alicia L. Bruzos (March 2022) version 1. </a>
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-1" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-1.jpg' width="150">  <br/><br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Nov2021-bioinformatics-2.jpeg" target="_blank">Photography of Alicia L. Bruzos (November 2021) version 2. </a>
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Nov2021-bioinformatics-2" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Nov2021-bioinformatics-2.jpeg' width="150">  <br/><br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Nov2021-bioinformatics-1.jpeg" target="_blank">Photography of Alicia L. Bruzos (November 2021) version 1. </a>
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Nov2021-bioinformatics-1" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Nov2021-bioinformatics-1.jpeg' width="150">  <br/><br/>
  
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Feb2020.jpg" target="_blank">Photography of Alicia L. Bruzos (February 2020). </a>
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Feb2020" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Feb2020.jpg' width="150">  <br/><br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Jun2019-sequencing.png" target="_blank">Photography of Alicia L. Bruzos (June 2019) - sequencing. </a>
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Jun2019-sequencing" target="_blank">More info </a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Jun2019-sequencing.png' width="150">  <br/><br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-May2019-sequencing.jpg" target="_blank">Photography of Alicia L. Bruzos loading a library of minion sequencing (May 2019). </a> 
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-May2019-sequencing" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-May2019-sequencing.jpg' width="150">  <br/><br/>
  
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-NUIgalway-Mar2019-sampling-research-stay.png" target="_blank">Photography Alicia L. Bruzos with cockles (March 2019). </a> 
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-NUIgalway-Mar2019-sampling-research-stay" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-NUIgalway-Mar2019-sampling-research-stay.png' width="150">  <br/><br/>
  
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Mar2019-scubacancers.jpg" target="_blank">Photography of Jose M.C. Tubio (left), Alicia L. Bruzos (center) and Seila Díaz Costas (right) - scubacancers - (March 2019). </a> 
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Mar2019-scubacancers" target="_blank">More info </a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Mar2019-scubacancers.jpg' width="150">  <br/><br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Feb2019-sampling.jpeg" target="_blank">Photography of Ana Copena (left) and Alicia L. Bruzos (right) sampling cockles in Spain (February 2019). </a>
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Feb2019-sampling" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-UniversidadedeSantiago-Feb2019-sampling.jpeg' width="150">  <br/><br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos_UniversidadedeSantiago-Dec2018.jpg" target="_blank">Photography of Alicia L. Bruzos at Scuba Cancers lab (December 2018). </a>
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos_UniversidadedeSantiago-Dec2018" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos_UniversidadedeSantiago-Dec2018.jpg' width="150">  <br/><br/>
 
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeVigo-Nov2017-sampling.jpg" target="_blank">Photography of Alicia L. Bruzos (November 2017) - sample processing. </a>
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-UniversidadedeVigo-Nov2017-sampling" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-UniversidadedeVigo-Nov2017-sampling.jpg' width="150">  <br/><br/>

  
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

  
