---
layout: archive
title: "Photography portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Alicia L. Bruzos has curated a collection of over 50 photographs showcasing her work in the laboratory, fieldwork, conferences, awards, and more. These images are intended to illustrate announcements and news articles. Click the image or link below to access Alicia's Pinterest board:

<p align="center">
  <a href="https://es.pinterest.com/albruzos/" target="_blank">
    <strong>View the Alicia's photography portfolio on Pinterest</strong>
  </a>
</p>

<p align="center">
  <a href="https://es.pinterest.com/albruzos/pictures-of-alicia-l-bruzos/" target="_blank">
    <img src="/images/photography-portfolio/Photography-portfolio_2024.png" alt="Preview of Alicia's Pinterest photography portfolio" width="650">
  </a>
</p>

Alicia L. Bruzos contributes to Wikimedia Commons, making freely licensed educational media content available to the public. You can explore her contributions to this repository:
<p align="center">
  <a href="https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/AliciaLBruzos&ilshowall=1" target="_blank">
    <strong>View Alicia's contributions on Wikimedia Commons</strong>
  </a>
</p>

<p align="center">
  <a href="https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/AliciaLBruzos&ilshowall=1" target="_blank">
    <img src="/images/photography-portfolio/WikiMediaCommons.png" alt="Preview of Alicia's Wikimedia Commons contributions" width="650">
  </a>
</p>
  
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

  
