---
layout: archive
title: "Photography portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

---
layout: archive
title: "Photography portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Alicia L. Bruzos has curated a collection of professional photographs showcasing her work in the laboratory, fieldwork, conferences, awards, and more. These images are intended for use by conference organizers and media professionals to illustrate announcements and news articles.

For the full collection, visit Alicia's Pinterest board:
<p align="center">
  <a href="https://es.pinterest.com/albruzos/pictures-of-alicia-l-bruzos/" target="_blank">
    <strong>View the full photography portfolio on Pinterest</strong>
  </a>
</p>

<p align="center">
  <a href="https://es.pinterest.com/albruzos/pictures-of-alicia-l-bruzos/" target="_blank">
    <img src="/images/photography-portfolio/Photography-portfolio_2024.png" alt="Preview of Alicia's Pinterest photography portfolio" width="300">
  </a>
</p>

<p align="center">Click the image or link above to access over 50 curated photos.</p>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


Alicia L. Bruzos has contributed to the media file repository making available public domain and freely licensed educational media content. 
<a href="https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/AliciaLBruzos&ilshowall=1" target="_blank">Check here her contributions!</a> <br/><br/>



Professional photographies for media or conference advertising (click on the title for full-size and more information):<br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-2.jpg" target="_blank">Photography of Alicia L. Bruzos (March 2022) version 2. </a> 
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-2" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-2.jpg' width="150"> <br/><br/>

<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-1.jpg" target="_blank">Photography of Alicia L. Bruzos (March 2022) version 1. </a>
<p align="center"><a href="https://albruzos.github.io/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-1" target="_blank">More info</a> <br/>
<p align="center"><img src='/images/photography-portfolio/AliciaLBruzos-TheFrancisCrickInstitute-Mar2022-1.jpg' width="150">  <br/><br/>

  
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

  
