---
layout: archive
title: "Conferences"
permalink: /talks/
author_profile: true
---

<img src='/images/Tira_FotosCongresos_AliciaLBruzos.png'>  

<p>Throughout my career as a researcher, I have presented my research at international and national congresses and symposiums in many places around the world. Check the map:</p>
<iframe src="/talkmap/map.html" height="400" width="600" style="border:none;"></iframe>


<h2>Full list of communications</h2>
Check here

<h2>Details of communications</h2>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>In conferences you meet awesome people...</h2>
An special thanks to the amazing scientific live-sketcher Alex Cagan (<a href="https://twitter.com/ATJCagan">@ATJCagan</a>) that illustrated my talk at Hinxton (UK) in 2019.
<img src='/images/AlexCagan-infographic-talk2019.jpeg'>  
<a href="https://twitter.com/ATJCagan/status/1152173494328864769">Retweet here</a>  

<a href="https://albruzos.github.io/cv/">Back to CV</a> 
