---
layout: archive
title: "Conferences"
permalink: /talks/
author_profile: true
---

> Throughout my career as a researcher, I have presented a total of 25 communications (14 oral and 11 poster) at international and national congresses and symposiums. 


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}


Full list of communications
====
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
