---
layout: archive
title: "Teaching and Supervision Experience"
permalink: /teaching/
author_profile: true
---

<img src='/images/Tira_FotosTeaching_AliciaLBruzos.png'>  

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<h3>TEACHING MATERIALS</h3>
Rey García, D.; Estévez Calvar, N.; Román Losada, A.; Hernández Otero, A; Ballesteros Otero, T.; Alcaraz, P.; Gutiérrez, A; Fernández Míguez, M.; Pérez Diz, A; González, J.; Martínez Schönemann, A.; Des Villanueva, M.; Plaza-Morlote, M.; Rodríguez Hernández, F.; Gomes, M.; <u><b>Bruzos, A.L.</u></b>; Cerviño, C.; Rosendo, P.; Bueno, F.; Ortega, R.; Arcas, J.; Pisón, X.; Tova, L.; 13 Grados; Lamas, E.F.; Agra, E.; Cortês, R.; Venzel, S. <i>CUADERNO DE ILUSTRACIONES: Comunicar el Océnano</i> Servizo de Publicacións da Universidade de Vigo, 2021:27-28 <i><a href="https://albruzos.github.io/files/outreach_2021-ScientistsMeetArtists.pdf" target="_blank">Download the book here.</a></i> <br><br>

